USE [master]
GO
/****** Object:  Database [TMDB]    Script Date: 12/7/2021 10:51:16 PM ******/
CREATE DATABASE [TMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TMDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TMDB_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DriverInfoes]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[VehicleNo] [nvarchar](max) NULL,
	[RouteId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DriverInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PasswordResets]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[ResetCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PasswordResets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ammount] [int] NOT NULL,
	[PaymentDate] [nvarchar](max) NULL,
	[VehicleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RouteInformations]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[StartTime] [nvarchar](max) NULL,
	[DriverInfoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RouteInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Routes]    Script Date: 12/7/2021 10:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoutesName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Routes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password]) VALUES (1, N'admin@gmail.com', N'12345')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[DriverInfoes] ON 

INSERT [dbo].[DriverInfoes] ([Id], [DriverName], [Phone], [VehicleNo], [RouteId], [Image]) VALUES (1, N' Aziz Mia', N' 01652302123', N' A-01', 1, N'picture/0b169ca4-e877-42fc-a7f3-ff6f83364373.jpeg')
INSERT [dbo].[DriverInfoes] ([Id], [DriverName], [Phone], [VehicleNo], [RouteId], [Image]) VALUES (3, N' Shamim Hossain', N' 01814562356', N' A-02', 4, N'picture/51f22143-182b-4e52-a47f-e0fa813deea7.jpg')
SET IDENTITY_INSERT [dbo].[DriverInfoes] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EmployeeName], [Mobile], [Address], [Email], [Password], [Image]) VALUES (1, N'Sajjad Hossain', N'01814256325', N'Chowkbazar', N'sajjad@gmail.com', N'12345', N'picture/99d81517-fe67-4c0d-8953-0457af378d52.png')
INSERT [dbo].[Employees] ([Id], [EmployeeName], [Mobile], [Address], [Email], [Password], [Image]) VALUES (2, N'Rokibul', N'01814789987', N'Bashkhali', N'rokibul@gmail.com', N'12345', N'picture/d55d7265-0a31-4fb4-974e-815b30e01d76.jpg')
INSERT [dbo].[Employees] ([Id], [EmployeeName], [Mobile], [Address], [Email], [Password], [Image]) VALUES (3, N'amaz', N'018142352358', N'agrabad', N'amazuddin722@gmail.com', N'123456', N'picture/3b3de2c7-bb79-4fa4-a37b-de81aca80230.jpg')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Date], [Message]) VALUES (1, N'10/29/2021', N'Tomorrow All bus will be off')
INSERT [dbo].[Notifications] ([Id], [Date], [Message]) VALUES (2, N'10/29/2021', N'Msg                      ')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
SET IDENTITY_INSERT [dbo].[PasswordResets] ON 

INSERT [dbo].[PasswordResets] ([Id], [UserId], [Email], [ResetCode]) VALUES (1, 3, N'amazuddin722@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[PasswordResets] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [Ammount], [PaymentDate], [VehicleId]) VALUES (1, 2000, N'2021-09-13', 1)
INSERT [dbo].[Payments] ([Id], [Ammount], [PaymentDate], [VehicleId]) VALUES (2, 2500, N'2021-10-29', 1)
INSERT [dbo].[Payments] ([Id], [Ammount], [PaymentDate], [VehicleId]) VALUES (3, 2500, N'2021-10-01', 1)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[RouteInformations] ON 

INSERT [dbo].[RouteInformations] ([Id], [RouteId], [StartTime], [DriverInfoId]) VALUES (1, 1, N' 8:30 am', 1)
INSERT [dbo].[RouteInformations] ([Id], [RouteId], [StartTime], [DriverInfoId]) VALUES (2, 4, N' 8:30 am', 3)
SET IDENTITY_INSERT [dbo].[RouteInformations] OFF
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [RoutesName]) VALUES (1, N'GEC')
INSERT [dbo].[Routes] ([Id], [RoutesName]) VALUES (2, N'Katghor')
INSERT [dbo].[Routes] ([Id], [RoutesName]) VALUES (3, N'Agrabad')
SET IDENTITY_INSERT [dbo].[Routes] OFF
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [VehicleId]
GO
ALTER TABLE [dbo].[RouteInformations] ADD  DEFAULT ((0)) FOR [DriverInfoId]
GO
USE [master]
GO
