@using TransportManagementSystem.Models

@{
    //Layout = null;

}
<meta name="viewport" content="width=device-width" />
<title>StudentINfo</title>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<style>
    .tdname {
        font-size: 20px;
        padding-right: 14px;
    }

    .tdvalue {
        width: 237px;
        border: 2px solid #2c3e50;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }

    #tddate {
        width: 237px;
        border: 2px solid #2c3e50;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }

    .bye {
        margin-top: 30px;
    }

    .up {
        margin-top: 50px;
    }

    .but {
        float: right;
        width: 130px;
        margin-top: 18px;
        background-color: #3ea5c1;
        border-color: #3ea5c1;
    }
    .warning {
        color: green;
    }
</style>
<body>
    <div class="container">
        <center><h1 style="margin-top: 50px; color: #3ea5c1;">Save Student Information</h1></center>
        <form action="" method="POST">
            <center>
                @if (ViewBag.Yes == '1')
                {
                    <div class="warning" id="warningLabel">
                        <label>Save Successfully</label>
                    </div>
                }
                <table class="up">
                    <tr>
                        <td class="tdname">Student Id: </td>
                        <td>

                            <input id="StudentId" class="form-control tdvalue" name="StudentId" required=""/>

                        </td>
                    </tr>
                    <tr>
                        <td class="tdname">Student Name:</td>
                        <td>

                            <input id="Name" class="form-control tdvalue" name="Name" required=""/>

                        </td>
                    </tr>
                    <tr>
                        <td class="tdname">Location</td>
                        <td>

                            <input id="Location" class="form-control tdvalue" name="Location" required="" />

                        </td>
                    </tr>
                    <tr>
                        <td class="tdname">Vehicle No:</td>
                        <td>

                            <input id="VehicleNo" class="form-control tdvalue" name="VehicleNo" required="" />

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-info but" id="Savebtn" style="">Save</button></td>
                    </tr>
                </table>
            </center>

        </form>
       
    </div>
</body>

@section scripts
{

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
           

            });
    </script>


}
