@model List<TransportManagementSystem.Models.DriverVehicleViewModel>
@{
    //Layout = null;
}


<head>
    <meta name="viewport" content="width=device-width"/>
    <title>DriverInformation</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/custom.css" rel="stylesheet"/>
    <style>
        .diagnoistic_name {
            color: black;
            font-size: 10px;
            margin-top: 5px;
            padding: 6px;
        }

        .dia-center {
            box-shadow: -1px 2px 18px #526152;
            height: 320px;
            margin: 10px;
            padding: 0px;
        }

        .dia-center:hover {
             box-shadow: -1px 2px 18px #526152;
        }

        .diagnostic-img {
            height: 200px;
            width: 100%;
        }

        .Sclass {
            margin-bottom: 25px;
            margin-top: 25px;
        }

        #services {
            border-bottom-style: ridge;
            border-bottom-style: black;
            font-size: 50px;
            font-weight: bold;
            margin-top: 15px;
        }
    </style>
</head>
<body>
<div class="img_hospital">
    <img src="~/Content/picture/bus.jpg" height="560px;" width="100%;">
</div><br/>
<div class="container">
    <div class="Sclass">
        <center>
            <div class="animated slideInLeft">
                <strong style="font-family: Comic Sans MS;" id="services">Driver Information</strong>
            </div>

        </center>


    </div>
</div>
<div class="container">
    <div class="row">
        @{
            foreach (var drv in Model)
            {
                <div class="col-md-3">

                    <div class="dia-center">
                        <img src="~/@drv.Image" class="diagnostic-img">
                        <div class="diagnoistic_name">
                            <h6>
                                <b>Driver Name: </b>@drv.DriverName</h6>
                            <h6>
                                <b>Bus No:</b> @drv.VehicleNo
                            </h6>
                            <h6>
                                <b>Phone: </b>@drv.Phone</h6>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</div>
</body>