
@{
    //Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/Content/forgetPass.css" rel="stylesheet" />
</head>

    <div class="form-screen">
        <div class="card account-dialog">
            <div class="card-header bg-primary text-white" style="background: linear-gradient(to right, #41295a, #2f0743)"> Please Enter Your Valid Email </div>
            <div class="card-body">

                <form action="ForgetPassword" method="post" id="passchnge">
                    <div class="form-group">
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp"
                               name="Email" placeholder="Enter email" required>
                    </div>

                    <div class="account-dialog-actions">
                        <button type="submit" class="btn btn-primary button_design">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

