@{
    //Layout = null;
    ViewBag.Title = "Register";
}
<head>
    <title></title>

    <link href="~/Content/register.css" rel="stylesheet" />
</head>

<div class="register">
    <div class="row">
        <div class="col-md-12">
            <p class="lbl-login" style="font-family: Monoton;">Employee Registration</p>
            @if (ViewBag.Error != null)
            {
                <p class="cerror" id="error">@ViewBag.Error</p>
            }

            <form style="padding: 2em 5em 5em;" id="register" action="~/Login/Register" method="POST" enctype="multipart/form-data">
                <center>
                    <table>
                        <tr>
                            <td>
                                <label class="lbl-reg" for="Name">Employee Name</label>
                            </td>
                            <td>
                                <input class="user-name form-control" type="text" name="EmployeeName" id="Name" placeholder="Employee Name" required />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="lbl-reg" for="Mobile">Mobile</label>
                            </td>
                            <td>
                                <input class="user-name form-control" type="text" name="Mobile" id="Mobile" placeholder="Mobile Number" required/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="lbl-reg" for="Address">Address</label>
                            </td>
                            <td>
                                <input class="user-name form-control" type="text" name="Address" id="Address" placeholder="Address" required />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="lbl-reg" for="Image">Image</label>
                            </td>
                            <td>
                                <input class="user-name form-control" style="padding: 5px;" type="file" name="Image" id="Image" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="lbl-reg" for="email">Email</label>
                            </td>
                            <td>
                                <input class="user-name form-control" type="text" name="Email" id="email" placeholder="Email Id" required />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="lbl-reg" for="password">Password</label>
                            </td>
                            <td>
                                <input class="user-name form-control" type="password" name="Password" id="password" placeholder="Password" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="lbl-reg" for="cpassword">Confirm Password</label>
                            </td>
                            <td>
                                <input class="user-name form-control" type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required />
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <input class="btn animate-btn regbutton" style="" type="submit" value="REGISTER" />
                            </td>
                        </tr>

                    </table>
                </center>
            </form>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $("#error").hide(1000).empty();
            }, 5000);


            $("#register").validate({
                rules: {
                    EmployeeName: "required",
                    Email: {
                        required: true,
                        email: true
                    },

                   
                    Password: {
                        required: true,
                        minlength: 5
                    },
                    cpassword: {
                        minlength: 5,
                        equalTo: "#password"
                    },
                    Mobile: {
                        required: true,
                        number: true
                    },

                    Image: {
                        required: true
                    },
                    Address: {
                        required: true
                    }


                },
                messages: {
                    EmployeeName: "Please Enter Employee Name",
                    Email: {
                        required: "Please Enter Employee Email id",
                        email: "Email id not correct"
                    },
                    Password: {
                        required: "Please Enter Your Password",
                        minlength: "Minimum length is 5"
                    },
                    cpassword: {
                        minlength: "Minimum length is 5",
                        equalTo: "Password not matched"
                    },

                  
                    Mobile: {
                        required: "Please Enter Student Phone No",
                        number: "Number should not contain cahracter"
                    },

                    Image: {
                        required: "Please Select Farmer Photo"
                    },
                    Address: {
                        required: "Please Enter Address"
                    }
                }
            });
        });

    </script>
}