
@{
    //Layout = null;
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link href="~/Content/forgetPass.css" rel="stylesheet" />
</head>
<center>
    @if (ViewBag.Message != null)
    {
        <p class="cerror" id="error">@ViewBag.Message</p>
    }
</center>
<div class="form-screen">
    <div class="card account-dialog">
        <div class="card-header bg-primary text-white" style="background: linear-gradient(to right, #41295a, #2f0743)"> Reset Password </div>
        <div class="card-body">

            <form action="ResetPassword" method="post" id="passchnge">
                <div class="form-group">
                    <input type="password" class="form-control" id="password"
                           name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="cpassword"
                           name="cpassword" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="code"
                           name="resetCode" placeholder="Verification Code" required>
                </div>

                <div class="account-dialog-actions">
                    <button type="submit" class="btn btn-primary button_design">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $("#error").hide(1000).empty();
            }, 5000);


            $("#passchnge").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5
                    },
                    cpassword: {
                        minlength: 5,
                        equalTo: "#password"
                    }                 
                },
                messages: {                 
                    password: {
                        required: "Please Enter Your Password",
                        minlength: "Minimum length is 5"
                    },
                    cpassword: {
                        minlength: "Minimum length is 5",
                        equalTo: "Password not matched"
                    }       
                }
            });
        });

    </script>
}

